#layout {
  @include fill-full-height;
  
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  & > main {
    flex: 1;
    
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}